.cart-item-show-container{
    display: flex;
    // margin-left: auto;
    // margin-right: auto;
    justify-content: space-around;
    margin-top: 20px;
}
.product-name-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.btn {
    width: 50%;
    margin-top: 10px;
    border: none;
}
.btn:hover{
    background-color: azure;
}
.product-title{
    text-decoration: none;
}
.item-price{
    font-weight: bolder;
}
.in-stock{
    color: #A5192D;
}