@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Limelight&display=swap");
$lime-light: "Limelight", cursive;
$comfortaa: "Comfortaa", cursive;
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-child {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 30%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  width: 100%;
  height: 100%;
}
.message-text {
  font-size: 30px;
  font-family: $comfortaa;
  margin-bottom: 50px;
}
.form-label {
  font-size: 20px;
  font-family: $comfortaa;
}
.form-input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 15px;
  font-size: 18px;
  font-family: $comfortaa;
  color: darkgrey;
  padding: 0px 10px;
}
.close-modal-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  width: 100%;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-input-wrapper {
  width: 100%
}
.login-form-container {
  width: 90%;
  margin: 10%;
}
.login {
  width: 50%;
}