.confirm_div{
   display: flex;
   justify-content: center;
   align-items: center;
}
.confirm__image{
    width: 500px;
    height: 400px;
    // overflow: auto;
    // position: relative;
    //
}
.confirm{
   text-align: center;
     width: 100px;
}