
p{
    font-size: 20px;
    margin-left: 20px;
}

.review-btn{
    width: 90px;
}
.review-rating{
    margin-left: 20px;
    margin-bottom: 10px;
}
.email {
    color: gray;
    width: fit-content;
    border-bottom: solid 1px gray;
}
.review{
    margin-left: 30px;
}
.review-content{
    width: 55%;
}